:root{
    --expat-text-primary: #72A28A;
    --expat-text-secondary: rgba(255, 255, 255, 0.7);
    --expat-bg-primary: #72A28A;
    --expat-bg-primary-dark: #477960;
    --expat-bg-botbar: #191919;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



body {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.f-lora {
    font-family: "Lora", serif;
}

.bg-expat {
    background-color: var(--expat-bg-primary);
}

.color-expat{
    color: var(--expat-text-primary);
}

.color-expat-secondary {
    color: var(--expat-text-secondary);
}


.btn-expat {
    color: #ffffff;
    background-color: var(--expat-bg-primary);
    border-radius: 9999999px !important;
    -webkit-border-radius: 9999999px !important;
    -moz-border-radius: 9999999px !important;
    -ms-border-radius: 9999999px !important;
    -o-border-radius: 9999999px !important;
}

.btn-expat:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: var(--expat-bg-primary-dark);
    border-radius: 9999999px !important;
    -webkit-border-radius: 9999999px !important;
    -moz-border-radius: 9999999px !important;
    -ms-border-radius: 9999999px !important;
    -o-border-radius: 9999999px !important;
}

.btn-expat.add-tocart {
    font-size: 12px;
}

.btn-white{
    color: #303336;
    background-color: #fff;
    border-radius: 9999999px !important;
    -webkit-border-radius: 9999999px !important;
    -moz-border-radius: 9999999px !important;
    -ms-border-radius: 9999999px !important;
    -o-border-radius: 9999999px !important;
}

.btn-white:hover{
    color: #303336;
    background-color: #fff;
    border-radius: 9999999px !important;
    -webkit-border-radius: 9999999px !important;
    -moz-border-radius: 9999999px !important;
    -ms-border-radius: 9999999px !important;
    -o-border-radius: 9999999px !important;
}


/* Bot Bar */
.app-botbar .app-member {
    margin: auto;
    padding: .5rem 1rem;
    background: var(--expat-bg-botbar);
    box-shadow: inset 0px 1px 0px #323436;
    border-radius: 40px 40px 0px 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    -ms-border-radius: 40px 40px 0px 0px;
    -o-border-radius: 40px 40px 0px 0px;
}

.w-90 {
    width: 90% !important;
}

.app-botbar .app-member .icon-svg {
    height: 30px;
    width: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app-botbar .app-member .icon-svg svg {
    height: 24px !important;
    width: 24px !important;
}

.app-botbar .app-member .icon-svg.fill svg {
    fill:  #fff;
}

.app-botbar .app-member .icon-svg.stroke svg {
    stroke: #fff;
}


.app-botbar .app-member .text-botbar {
    font-size: 14px;
    position: relative;
    z-index: 999;
}

.app-botbar .app-member .icon-svg.fill.scan svg {
    height: 40px !important;
    width: 40px !important;
}

.app-botbar .app-member .icon-svg.fill.scan {
    /* background-color: var(--expat-bg-botbar); */
    position: relative;
    top: -20px;
    padding-top: 20px;
}

.app-botbar .app-member .icon-svg.fill.scan::before{
    content: "";
    top: -10px;
    z-index: -1;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: var(--expat-bg-botbar);
    border-radius: 99999px;
    -webkit-border-radius: 99999px;
    -moz-border-radius: 99999px;
    -ms-border-radius: 99999px;
    -o-border-radius: 99999px;
}

.circle-scan {
    background-color: var(--expat-bg-botbar);
    position: relative;
    width: 75px;
    z-index: 9999999;
    top: -5px;
}

.app-content .app-member .label-amount {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.app-content .app-member .label-amount span {
    font-size: 12px;
    color: #707070;
}

.card-input-amount-select {
    display: none;
}


/* .card-input-amount-select:checked + .span-amount{
    font-weight: 700;
} */

.app-content .app-member .label-amount span.active {
    color: #FFFFFF !important;
}


.active-topup {
    background-color: var(--expat-bg-primary) !important;
}


.app-content .app-member .input-amount-topup-specifict {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.app-content .app-member .input-amount-topup-specifict:focus {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    color: #fff;
    outline: none;
}

.app-content .app-member .label-method-payment span{
    font-size: 12px;

}

.app-content .app-member .label-method-payment img{
    height: 30px;
    width: auto;

}


.posts-member .header-detail-order img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

#hot, 
#iced,
#cupsisze,
#shot0,
#shot1,
#shot2,
#shot3 {
    accent-color: var(--expat-text-primary);
}

.app-content .app-member #detailorder .greenprice{
    color: var(--expat-text-primary);
}

.app-content .app-member #detailorder .desc{
    color: var(--expat-text-secondary);
}

.app-content .app-member #detailorder .f-lora {
    color: var(--expat-text-primary);
    font-weight: 700;
}

.app-content .app-member #orderchart .chart-delivery {
    height: 60px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #0E0E12;
}

.app-content .app-member #orderchart .chart-delivery label {
    border-radius: 9999999px;
    -webkit-border-radius: 9999999px;
    -moz-border-radius: 9999999px;
    -ms-border-radius: 9999999px;
    -o-border-radius: 9999999px;
}


.app-content .app-member #orderchart .chart-delivery #labelpickup input,
.app-content .app-member #orderchart .chart-delivery #labeldelivery input {
    display: none;
}
.topupbg-success {
    height: 100%;
    background-image: url('../img/widget/topupbg-success.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-attachment: fixed; */
    background-clip: content-box;
}

.app-content .app-member #orderchart .item-preview-order {
    border-bottom: 1px dashed white;
}

.app-content .app-member #orderchart .item-preview-order img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.app-content .app-member #orderchart .preview-cabang img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.app-content .app-member #orderchart .preview-cabang .preview-cabang-detail span{
    font-size: 14px;
}

.toast{
    --bs-toast-bg: #000000 !important;
} 


#edit-in-address a {
    font-size: 12px;
}



.app-content .app-member .label-input-voucher {
    width: 100%;
    margin-right: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.app-content .app-member .label-input-voucher .form-input-voucher {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    width: 70%;
}


.app-content .app-member .label-input-voucher .form-input-voucher:focus {
    outline: none;
}

.app-content .app-member .label-input-voucher .form-input-voucher::placeholder {
    font-size: 12px;
}

.app-content .app-member .text-span-voucher {
    font-size: 14px;
    color: #cacaca;
}

.app-content .app-member #balanceuser a {
    font-size: 12px;
    font-weight: 700;
} 

.item-preview-order .item-detail h3 {
    font-size: 16px;
}

.item-preview-order .item-detail span {
    font-size: 12px;
}

#summaryorder .price span,
#summaryorder .fee span,
#totalsummary span,
#address span {
    font-size: 12px;
}

input[type='radio'] {
    accent-color: #72A28A;
}

@media (min-width: 425px) {
    .btn-expat.add-tocart {
        font-size: 16px;
    }
    
}
